<div id="update-status">
	<h1>A request has been sent to the lender</h1>
	<p>We will put this user in contact with you once this user has approved your request.</p>

	<p>Sit tight and carry on!</p>
	<%= link_to "OK", posts_path %>
</div>