body {
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	font-family: Arial;
}

a:hover {
	text-decoration: none;
}

header {
	background-color: #0094FF;
	padding: 0px;
}

#home {
	float: left;
}

header a, #submit-button {
	color: white;
	background-color: #0094FF;
    border-radius: 3px;
    padding: 15px;
    margin: 5px;
    border: none;
	transition: background 0.25s ease-in-out;
}

header a:hover, #submit-button {
	color: white;
	background-color: #0082E0;
	border-radius: 3px;
}

nav {
	float: right;
    position: relative;
    top: 50%;
    transform: translateY(100%);
}

#search-bar {
	width: 500px;
	top:50%;
	padding: 5px;
	transform: translateY(10%);
	overflow: hidden;
}

#search-button {
	float: right;
	color: white;
	background-color: #0094FF;
    border-radius: 3px;
    padding: 15px;
    margin: 5px;
    border: none;
	transition: background 0.25s ease-in-out;
}

#search-button:hover{
	color: white;
	background-color: #0082E0;
	border-radius: 3px;
}

#search-form {
	float: left;
	width: 400px;
}

.button {
	background-color: #0094FF;
	padding: 15px;
	color: white;
	font-size: 1.5em;
	border-radius: 3px;
	transition: background 0.25s ease-in-out;
}

.button:hover {
	background-color: #38ACFF;
}

.itemlink {
	text-decoration: none;
}

#mainbody .button {
	background-color: #0094FF;
	padding: 15px;
	margin: 10px;
	color: white;
	font-size: 1.5em;
	border-radius: 3px;
	transition: background 0.25s ease-in-out;
}

#mainbody .button:hover {
	background-color: #38ACFF;
}

#darken {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

#signup_dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
  	margin-left: -200px;
  	width: 400px;
  	background-color: white;
  	border-radius: 3px;
  	padding: 20px;
  	z-index: 1000;
}

#login_dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -200px;
	width: 400px;
	background-color: white;
	border-radius: 3px;
	padding: 20px;
	z-index: 1000;
}

input[type="text"],
input[type="password"],
textarea {
	width: calc(100%);
	margin: 10px 0;
	padding: 10px;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

#mainbody {
	text-align: center;
	padding: 50px 25px;
}

#map {
	width: 50%;
	height: 400px;
}

.review {
	font-family: Arial;
	text-align: left;
	width: calc(100%-15px);
	background-color: white;
	border-radius: 3px;
	margin: 0 5px 5px 5px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	overflow: auto;
}

.review .reviewed_by {
	font-size: 1em;
	text-align: center;
	width: calc(100%);
	display: block;
	background-color: #0094FF;
	border-radius: 3px 3px 0 0;
	color: white;
	padding: 5px;
	transition: background 0.25s ease-in-out;
}

.review .rating {
	padding: 0 20px;
	display: block;
	overflow: auto;
}

.review .review_content {
	padding: 0 20px;
	display: block;
	overflow: auto;
}

.list-group-item{
	padding-top: 20px;
	padding-bottom: 30px;
}

.list-group-item .review_status {
	background-color: #0094FF;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	right: 10px;
	width: 20%;
	padding: 5px;
	color: white;
	font-size: 1em;
	border-radius: 3px;
	transition: background 0.25s ease-in-out;
}

.list-group-item .review_status:hover {
	background-color: #0082E0;
}

.listing {
	font-family: Arial;
	text-align: left;
	width: calc(100% - 20px);
	background-color: white;
	border-radius: 3px;
	margin: 0 10px 40px 10px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	overflow: auto;
}

.listing .title {
	font-size: 1.5em;
	width: calc(100%);
	display: block;
	background-color: #0094FF;
	border-radius: 3px 3px 0 0;
	color: white;
	padding: 20px;
	transition: background 0.25s ease-in-out;
}

.listing .title:hover {
	background-color: #0082E0;
}

.listing .images {
	margin: 20px;
	width: 250px;
}

.listing img {
	width: 250px;
	margin-bottom: 20px;
	display: block;
	float: left;
}

.listing .content {
	padding: 0 20px;
	display: block;
	overflow: auto;
}

.content .posted_by {
	color: #888;
}

.listing .actionbar {
	width: 100%;
	display: block;
	clear: all;
	float: left;
	padding-bottom: 15px;
}

.listing .price,
.listing .deposit,
.listing .rent {
	height: 100%;
	border-top: 3px solid #EEE;
	text-align: center;
	/*background: #EEE;*/
	font-size: 1.5em;
	margin-left: 25px;
	padding: 20px;
	width: calc((100% - 108px) / 3);
	display: inline-block;
}

.listing .rent {
	color: #0094FF;
	border-top: 3px solid #0082E0;
}

.listing .price:hover,
.listing .deposit:hover {
	background-color: #F6F6F6;
}

.listing .rent:hover {
	background-color: #0094FF;
	color: white;
	border-radius: 3px;
}


.listing:hover {
	background-color: #FCFCFC;
}

.user_info {
	background: white;
	width: 300px;
	display: inline;
	float: left;
	margin: 0 10px 40px 10px;
	font-family: Arial;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	padding-bottom: 5px;
}

.user_info .name {
	font-size: 1.5em;
	width: calc(100% - 40px);
	display: block;
	background-color: #0094FF;
	border-radius: 3px 3px 0 0;
	color: white;
	padding: 20px;
	transition: background 0.25s ease-in-out;
}

.user_listings {
	width: calc(100% - 340px);
	display: inline;
	float: right;
}

.progress {
	box-shadow: none;
	background: none;
	border-radius: 0;
	width: calc(100%);
	padding: 10px;
}

.progress .bar {
	color:   white;
	display: none;
}

.create,
.update {
	text-align: left;
}

.create .city,
.update .city {
	width: calc(100% - 154px);
}

.create .state,
.update .state {
	width: 150px;
}

.create .price,
.update .price {
	width: calc(50% - 2px);
}

.create .deposit,
.update .deposit {
	width: calc(50% - 2px);
}

.create textarea,
.update textarea {
	height: 150px;
	resize: none;
}

.create select,
.update select {
	width: 100%;
	padding: 10px;
}
.listing img {
	height: 200px;
	padding: 0 20px;
}

/* Notifications */
#notification_li
{
	/*position: relative;*/
	float: left;

}

#notificationContainer 
{
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 90px;
	right: 50px;
	width: 300px;
	z-index: 1;
}

#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 150px;
}

#notificationTitle
{
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	position: fixed;
	text-align: center;
	z-index: 1000;
	width: 284px;
	border-bottom: 1px solid #dddddd;
}

#notificationsBody
{
	padding: 33px 0px 0px 0px !important;
	min-height:300px;
}

#notificationFooter
{
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}

#notification_count 
{
	padding: 3px 7px 3px 7px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	margin-left: 77px;
	border-radius: 9px;
	-moz-border-radius: 9px; 
	-webkit-border-radius: 9px;
	position: absolute;
	margin-top: -11px;
	font-size: 11px;
}