<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sharing Is Saving</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>
	<div id="header"></div>
	<div id="mainbody">
		Welcome to Sharing Is Saving!
	</div>
</body>
</html>
